.loading{
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    padding: 30px 5% 0px 5%;
    width: 100%;
}


.productimage {
    display: flex;
    align-self: flex-start;
    position: sticky;
    top: 120px;
    width: 40%;
}

.differentimages {
    height: 80vh;
    overflow-y: auto;
    width: 24%;
    display: flex;
    flex-direction: column;

}

.differentimages img {
    margin-bottom: 10px;
    width: 100%;
}

/* #${(props) => "i" + props.image} {
  border-radius: 4px;
  padding-bottom: 3px;
  border-bottom: 4px solid #cc0000;
} */



.smallimage {
    width: 80px;
    margin-bottom: 10px;
}

.mainimage {
    margin-left: 10px;
}

.mainimage img {
    width: 100%;
}

.productdetails {
    padding-left: 50px;
    padding-top: 10px;
    width: 60%;
}

.singleMain .name {
    font-weight: bold;
    font-size: 25px;
}

.singleMain .desc {
    letter-spacing: 2px;
    font-weight: 400;
    margin: 3px 0px 18px 0px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ratingbox {
    margin-bottom: 35px;
}

.rating {
    border: 1px solid rgb(209, 209, 209);
    font-size: 17px;
    font-weight: bold;
    padding: 5px 9px;
}

.ratingbased {
    margin-left: 14px;
    font-size: 17px;
    font-weight: 400;
    color: rgb(137, 137, 137);
}

.productdetails .price {
    font-weight: 500;
    font-size: 25px;
}

.discount {
    margin-left: 5px;
    font-size: 20px;
    color: rgb(70, 123, 41);
}

.mrpbox {
    margin: 5px 0px 10px 0px;
    font-weight: 300;
    font-size: 17px;
    color: rgb(124, 123, 123);
}

.mrp {
    margin-left: 5px;
}

.mrptxt {
    margin-left: 9px;
    font-size: 16px;
}

.selectcol {
    margin: 20px 0px 2px 0px;
    border-top: 1px solid rgb(109, 109, 109);
    padding-top: 10px;
    font-weight: 500;
    font-size: 21px;
}

.colortxt {
    font-weight: 400;
    font-size: 16px;
}

.colourbox {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(109, 109, 109);
    display: flex;
}

.singlecolordiv {
    width: 73px;
    margin-right: 10px;
    position: relative;
}

.singlecolordiv img {
    width: 100%;
}

.cross {
    color: white;
    right: 2px;
    top: 3px;
    position: absolute;
    display: none;
}


/* #${(props) => "a" + props.border} {
  display:block;
} */



.color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.singlecolordiv:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}

.wishbuy {
    margin-top: 40px;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(211, 204, 204);
}

.buynow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(159, 159, 159);
    font-weight: 500;
    width: 70%;
    margin-left: 10px;
    padding: 10px 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.buynow:hover {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.buynow:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.singleMain .wishlist {
    border: 1px solid rgb(159, 159, 159);
    text-align: center;
    width: 43%;
    padding: 10px 0px;
    background-color: white;
    color: black;
}

.singleMain .wishlist:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
}

.wishlist:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.wishlisted {
    letter-spacing: 1px;
    border: 1px solid rgb(159, 159, 159);
    text-align: center;
    width: 43%;
    padding: 10px 0px;
    background-color: red;
    color: white;
}

.wishlist>div {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist>div :nth-child(1) {
    margin-top: 3px;
    margin-right: 5px;
    font-size: 20px;
}


.service {
    display: flex;
    margin: 20px 0px 0px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(211, 204, 204);
}

.serviconbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
}

.serviconimg {
    width: 44px;
    display: block;
}

.servtxt {
    font-weight: 300;
    margin-bottom: 30px;
}

.codtxt {
    margin-bottom: 50px;
}

.servfoot {
    font-weight: 500;
    color: #ff5353;
}

.infobox {
    margin: 30px 0px 0px 0px;
}


.infotxt {
    font-weight: 500;
    font-size: 22px;
}

.infolist {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 15px 10px;
    border-bottom: 1px solid rgb(208, 208, 208);
}

.listhead {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;

}

.listhead>span {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 25px;
}

.listfoot {
    margin-left: 33px;
    font-weight: 300;
    font-size: 17px;
}

.infodrop {
    font-size: 21px;
    display: flex;
    align-items: center;
}

.reviewhead {
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.star {
    margin: 4px 0px 5px 0px;
    font-size: 25px;
}

.ratingtxt {
    font-weight: 500;
    font-size: 30px;
}

.ratingtxt5 {
    color: #9b9b9b;
}

.basedontxt {
    margin: 5px 0px 20px 0px;
    color: #585858;
}

.mostreviewhead {
    font-size: 23px;
    font-weight: 500;
}

.readallrev {
    margin-top: 50px;
    margin-bottom: 40px;
    border: 1px solid rgb(168, 168, 168);
    font-size: 19px;
    padding: 8px 15px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.aboutbox {
    margin-top: 30px;
    border-top: 1px solid rgb(149, 149, 149);
    padding: 30px 0px 10px 0px;
}

.abouthead {
    font-size: 20px;
    font-weight: bold;
}


.aboutimgbox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutimg {
    width: 15%;
    height: fit-content;
    border: 1px solid rgb(160, 160, 160);
}

.abouttxt {
    margin-left: 20px;
    font-size: 15px;
    line-height: 25px;
}

@media (max-width: 1024px) {
    .singleMain .name {
        font-size: 15px;
    }

    .singleMain .desc {
        font-size: 10px;
    }

    .ratingbox {
        margin-bottom: 22px;
    }

    .rating {
        font-size: 12px;
        padding: 3px 7px;
    }

    .ratingbased {
        font-size: 13px;
    }

    .price {
        font-size: 21px;
    }

    .discount {
        font-size: 18px;
    }

    .mrpbox {
        font-size: 14px;
    }

    .colourbox {
        padding: 10px 0px;
    }

    .singlesizediv {
        padding: 4px;
        width: 43px;
    }

    .wishbuy {
        margin-top: 24px;
        padding-bottom: 28px;
        flex-direction: column;

    }

    .wishlist {
        width: 100%;
        padding: 5px 0px;
        margin-bottom: 10px;
    }

    .wishlisted {
        width: 100%;
    }

    .buynow {
        margin: 0px;
        width: 100%;
    }

    .service {
        font-size: 11px;
        justify-content: space-around;
        padding-bottom: 14px;
    }

    .serviconbox {
        width: 26%;
    }

    .codtxt {
        margin-bottom: 27px;
    }

    .servtxt {
        margin-bottom: 14px;
    }

    .infobox {
        margin: 17px 0px 0px;
    }

    .infotxt {
        font-size: 20px;
    }

    .infolist {
        padding: 13px 0px 15px 4px;
    }

    .listhead {
        font-size: 17px;
    }

    .listhead>span {
        font-size: 22px;
    }

    .listfoot {
        font-size: 13px;
    }

    .reviewhead {
        margin-top: 21px;
        font-size: 19px;
    }

    .star {
        margin: 0px;
        font-size: 20px;
    }

    .basedontxt {
        font-size: 14px;
    }

    .mostreviewhead {
        font-size: 18px;
    }

    .readallrev {
        font-size: 16px;
        padding: 7px 10px;
        margin-top: 45px;
        margin-bottom: 18px;
    }

    .aboutbox {
        margin: 0px;
        padding-top: 21px;
    }

    .abouthead {
        font-size: 17px;
    }

    .aboutimgbox {
        margin-top: 13px;
    }

    .abouttxt {
        margin-left: 16px;
        font-size: 13px;
        line-height: 17px;
    }
}


@media (max-width: 768px) {
    .content {
        padding: 0px;
        flex-direction: column;
    }

    .productimage {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: initial;
    }

    .differentimages {
        height: initial;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .differentimages img {
        margin-bottom: 0px;
        width: 13%;
        margin: 5px;

    }


    /* #${(props) => "i" + props.image} {
  border-radius: 2px;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(204, 0, 0);
} */

    .mainimage {
        margin: 0px;
    }

    .productdetails {
        padding: 10px 10px;
    }


    .wishbuy {
        justify-content: center;
        align-items: center;
    }

    .wishlist {
        width: 80%;
    }

    .buynow {
        width: 80%;
    }

    .aboutimg {
        width: 10%;
    }



}







@media (max-width: 378px) {

    .content {
        padding: 0px;
        flex-direction: column;
    }

    .productimage {
        flex-direction: column-reverse;
        position: initial;
    }

    .differentimages {
        height: initial;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 10px;
    }

    .differentimages img {
        margin-bottom: 0px;
        width: 13%;
        margin: 5px;

    }


    /* #${(props) => "i" + props.image} {
  border-radius: 2px;
  padding-bottom: 3px;
  border-bottom: 2px solid rgb(204, 0, 0);
} */

    .mainimage {
        margin: 0px;
        width: 100%;
    }

    .productdetails {
        padding: 10px 10px;
    }

    .singleMain .name {
        font-size: 15px;
    }

    .singleMain .desc {
        font-size: 10px;
    }

    .ratingbox {
        margin-bottom: 22px;
    }

    .rating {
        font-size: 12px;
        padding: 3px 7px;
    }

    .ratingbased {
        font-size: 13px;
    }

    .price {
        font-size: 21px;
    }

    .discount {
        font-size: 18px;
    }

    .mrpbox {
        font-size: 14px;
    }

    .colourbox {
        padding: 10px 0px;
    }

    .singlesizediv {
        padding: 4px;
        width: 43px;
    }

    .wishbuy {
        margin-top: 24px;
        padding-bottom: 28px;
        flex-direction: column;

    }

    .wishlist {
        width: 100%;
        padding: 5px 0px;
        margin-bottom: 10px;
    }

    .wishlisted {
        width: 100%;
    }

    .buynow {
        margin: 0px;
        width: 100%;
    }

    .service {
        font-size: 11px;
        justify-content: space-around;
        padding-bottom: 14px;
    }

    .serviconbox {
        width: 26%;
    }

    .codtxt {
        margin-bottom: 27px;
    }

    .servtxt {
        margin-bottom: 14px;
    }

    .infobox {
        margin: 17px 0px 0px;
    }

    .infotxt {
        font-size: 20px;
    }

    .infolist {
        padding: 13px 0px 15px 4px;
    }

    .listhead {
        font-size: 17px;
    }

    .listhead>span {
        font-size: 22px;
    }

    .listfoot {
        font-size: 13px;
    }

    .reviewhead {
        margin-top: 21px;
        font-size: 19px;
    }

    .star {
        margin: 0px;
        font-size: 20px;
    }

    .basedontxt {
        font-size: 14px;
    }

    .mostreviewhead {
        font-size: 18px;
    }

    .readallrev {
        font-size: 16px;
        padding: 7px 10px;
        margin-top: 45px;
        margin-bottom: 18px;
    }

    .aboutbox {
        margin: 0px;
        padding-top: 21px;
    }

    .abouthead {
        font-size: 17px;
    }

    .aboutimgbox {
        margin-top: 13px;
    }

    .aboutimg {
        width: 20%;
    }

    .abouttxt {
        margin-left: 16px;
        font-size: 13px;
        line-height: 17px;
    }

}