
.productdiv{
    background-color: white;
    transition: all .2s;
    padding-bottom: 10px;
    position:relative;
    overflow:hidden;
    border-radius: 10px;
    width: 250px;
}

.productdiv:hover{
    box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.prohover{
width:100%;
height:100%;
background-color: rgb(53, 53, 53, 0.6);
position: absolute;
left:200px;
transition: left 0.2s;

}

.productdiv:hover .prohover{
filter: opacity(1);
left:0px;


}

.product img{
    width: 100%;
}

.productdiv .name
{   color:#262b7c;
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    margin-left: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.productdiv .desc
{
    font-size: 12px;
    color: #886cb6;
    margin: -1px 0px 4px 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price
{
    color: #000000;
    padding-top: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.price :nth-child(2)
{
    font-weight:100;
    font-size: 14px;
    text-decoration: line-through;
    color: #a4a4a4;
    margin-left: 3px;
}

.price :nth-child(3)
{
   
    font-size: 15px;
    color: #6da800;
}


